
*{margin:0;padding:0;}
div{background-color:orange;
    width:30%;
    margin-top:2.5%;
	margin-left:1.25%;
	margin-right:1.25%;
    padding-top:30%;
    border-radius:5%;
	display:inline-block;}
body{font-size:0;
    text-align:center;}
